
    <div class="form-style-5">
      <form>
      <fieldset>
      <legend><span class="number">1</span> Settings</legend>
      <label for="SnapShot">SnapShot Interval</label>
      <input type="number" [(ngModel)] = settings.SnapShot [ngModelOptions]="{standalone: true}" class="form-control" id="SnapShot" placeholder="Snapshot Interval">
      <label for="Keyboard">KeyBoard Interval</label>
      <input type="number" [(ngModel)] = settings.Keyboard [ngModelOptions]="{standalone: true}" class="form-control" id="Keyboard" placeholder="Keyboard Interval">
      <label for="Mouse">MouseInterval Interval</label>
      <input type="number" [(ngModel)] = settings.mouse [ngModelOptions]="{standalone: true}" class="form-control" id="Mouse" placeholder="Mouse Interval">
      <label for="ScreenShot">ScreenShot Interval</label>
      <input type="number" [(ngModel)] = settings.ScreenShot [ngModelOptions]="{standalone: true}" class="form-control" id="ScreenShot" placeholder="Screenshot Interval">
      <label for="PostRequest">Post Request</label>
      <input type="number" [(ngModel)] = settings.PostRequest [ngModelOptions]="{standalone: true}" class="form-control" id="PostRequest" placeholder="Post Request">
      </fieldset>
      
      <input type="button" value="Submit" (click)="UpdateSetting()">
      </form>
      </div>
      <!-- <script src="Setting.js"></script> -->
  